@media (max-width:768px) {
  .main-wrapper {
    margin-left: auto;
    margin-right: auto;
    width: 375px
  }
  .style2 {
    background-color: #1e243d;
    border-top-left-radius: 11px;
    border-top-right-radius: 11px;
    border-bottom-left-radius: 11px;
    border-bottom-right-radius: 11px;
    display: flex;
    margin-left: 54px;
    margin-top: 25px;
    width: 268px;
    height: 65px;
    flex-direction: column
  }
  .style3 {
    color: #e1ffff;
    font-family: segoeui,serif;
    font-size: .75em;
    font-weight: 300;
    margin-left: 18px;
    margin-top: 12px;
    height: 17px
  }
  .style0,
  .style1 {
    border-top-left-radius: 51px;
    border-top-right-radius: 51px;
    border-bottom-left-radius: 51px;
    border-bottom-right-radius: 51px;
    height: 3px
  }
  .style0 {
    background-color: #2d3555;
    display: flex;
    margin-left: 19px;
    margin-top: 10px;
    flex-direction: column;
    width: 166px
  }
  .style1 {
    background-image: linear-gradient(-90deg,#0167ff 0,#17efff 100%);
    width: 117px
  }
}
@media (min-width:768px) and (max-width:920px) {
  .main-wrapper {
    margin-left: auto;
    margin-right: auto;
    width: 768px
  }
  .style2 {
    background-color: #1e243d;
    border-top-left-radius: 11px;
    border-top-right-radius: 11px;
    border-bottom-left-radius: 11px;
    border-bottom-right-radius: 11px;
    display: flex;
    margin-left: 111px;
    margin-top: 51px;
    width: 549px;
    height: 133px;
    flex-direction: column
  }
  .style3 {
    color: #e1ffff;
    font-family: segoeui,serif;
    font-size: 1.536em;
    font-weight: 300;
    margin-left: 37px;
    margin-top: 25px;
    height: 35px
  }
  .style0,
  .style1 {
    border-top-left-radius: 51px;
    border-top-right-radius: 51px;
    border-bottom-left-radius: 51px;
    border-bottom-right-radius: 51px;
    height: 6px
  }
  .style0 {
    background-color: #2d3555;
    display: flex;
    margin-left: 39px;
    margin-top: 20px;
    flex-direction: column;
    width: 340px
  }
  .style1 {
    background-image: linear-gradient(-90deg,#0167ff 0,#17efff 100%);
    width: 240px
  }
}
@media (min-width:920px) and (max-width:1200px) {
  .main-wrapper {
    margin-left: auto;
    margin-right: auto;
    width: 920px
  }
  .style2 {
    background-color: #1e243d;
    border-top-left-radius: 11px;
    border-top-right-radius: 11px;
    border-bottom-left-radius: 11px;
    border-bottom-right-radius: 11px;
    display: flex;
    margin-left: 132px;
    margin-top: 61px;
    width: 657px;
    height: 159px;
    flex-direction: column
  }
  .style3 {
    color: #e1ffff;
    font-family: segoeui,serif;
    font-size: 1.8399999999999999em;
    font-weight: 300;
    margin-left: 44px;
    margin-top: 29px;
    height: 42px
  }
  .style0,
  .style1 {
    border-top-left-radius: 51px;
    border-top-right-radius: 51px;
    border-bottom-left-radius: 51px;
    border-bottom-right-radius: 51px;
    height: 7px
  }
  .style0 {
    background-color: #2d3555;
    display: flex;
    margin-left: 47px;
    margin-top: 25px;
    flex-direction: column;
    width: 407px
  }
  .style1 {
    background-image: linear-gradient(-90deg,#0167ff 0,#17efff 100%);
    width: 287px
  }
}
@media (min-width:1200px) {
  .main-wrapper {
    margin-left: auto;
    margin-right: auto;
    width: 1200px
  }
  .style2 {
    background-color: #1e243d;
    border-top-left-radius: 11px;
    border-top-right-radius: 11px;
    border-bottom-left-radius: 11px;
    border-bottom-right-radius: 11px;
    display: flex;
    margin-left: 173px;
    margin-top: 80px;
    width: 858px;
    height: 208px;
    flex-direction: column
  }
  .style3 {
    color: #e1ffff;
    font-family: segoeui,serif;
    font-size: 2.4000000000000004em;
    font-weight: 300;
    margin-left: 58px;
    margin-top: 38px;
    height: 54px
  }
  .style0,
  .style1 {
    border-top-left-radius: 51px;
    border-top-right-radius: 51px;
    border-bottom-left-radius: 51px;
    border-bottom-right-radius: 51px;
    height: 10px
  }
  .style0 {
    background-color: #2d3555;
    display: flex;
    margin-left: 61px;
    margin-top: 32px;
    flex-direction: column;
    width: 531px
  }
  .style1 {
    background-image: linear-gradient(-90deg,#0167ff 0,#17efff 100%);
    width: 374px
  }
}